body, html {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list-container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

.todo-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.todo-input {
    color:white;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.todo-submit-btn {
    padding: 10px 20px;
    border: none;
    background-color: #FF206E;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.todo-submit-btn:hover {
    background-color: #226CE0;
}

.todo-items {
    list-style: none;
    padding: 0;
  }
  